/*********** defautl ***********/
$text_size_html:62.5%;
$text_size_body: 1.5rem;
$bg_color: #eee;
$line_height: 1.5;
$color_font: #555;

/********** fonts **************/
$default_font: Open Sans;
$font_titles: Raleway;

/********** titre ***************/
$color_titles: #333;
$size_h1: 3.6rem;
$size_h2: 2.4rem;
$size_h3: 1.8rem;

/********** header **********/
$bg_header: #0c6588;
$color_header: #e2f7ff;
/********* menu ************/
$bg_menu: #e2f7ff;

/********* footer ***********/
$bg_footer: #333;
$href_footer: #eee;
$color_footer: #ddd;
/********* main ***********/
$bg_main: #fff;


/******************* container ************/
$width_cont: 1140px;

/*********** autre *********/
$bg_grey_element: #eee;
$href_button: #0c6588;
$href_button_hover: #000;
