@import "vars";
@import "reset";
html {
    font-size: $text_size_html;
}
body {
    font-size: $text_size_body;
    font-family: $default_font;
    line-height: $line_height;
    margin: 0;
    padding: 0;
    color: $color_font;
}
h1, h2, h3 {
    font-family: $font_titles;
    color: $color_titles;
}
h1 {
    font-size: $size_h1;
}
h2 {
    font-size: $size_h2;
}
h3 {
    font-size: $size_h3;
}
img {
    max-width: 100%;
}
.container {
    max-width: $width_cont;
    margin-right:auto;
    margin-left:auto;
}